<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width" />
		<meta charset="UTF-8">
		<link href="img/favicon.ico" rel="shortcut icon" type="image/x-icon" /> 
		<link rel="stylesheet" href="css/index.css"/>
		<link rel="stylesheet" href="iconfont/iconfont.css" />
		<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular-route.min.js"></script>
		<script type="text/javascript" src="js/public.js"></script>
		<title>萍宝宝的个人站</title>
	</head>
	<body ng-app="myapp" ng-controller="control">
		<div class="erro-tip">{{tip-content}}</div>
		<div ng-view>
		</div>
		<div class="flex audio-player" ng-class="{'show':toggleV.Audio.control}">
			<div class="jiantou" ng-click="audioS('control')">
				<div ng-show="!toggleV.Audio.control" class="music-icon">
					<img src="img/music.jpg" />
				</div>
				<div ng-show="toggleV.Audio.control" class="music-icon">
					<i class="iconfont icon-iconfonthaofang26-copy-copy"></i>
				</div>
			</div>
			<div class="music-content">
				<div class="wp-pic"><img src="img/wp2.jpg"/></div>
				<div ng-repeat="item in music" class="music-item" ng-class="{'active':$index==0}" ng-click="play($event,item.route,$index)">{{item.name}}</div>
			</div>
			<div class="music-control">
				<div class="control-box">
					<div class="music-pre" ng-click="choice('pre')"><i class="iconfont icon-shangyishou"></i></div>
					<div class="music-go" ng-click="control()">
						<i class="iconfont icon-bofang"
							 ng-class="{'icon-bofang':!toggleV.Audio.play,'icon-weibiaoti1':toggleV.Audio.play}">
						</i>
					</div>
					<div class="music-next" ng-click="choice('next')"><i class="iconfont icon-xiayishou"></i></div>
				</div>
			</div>
		</div>
		<div class="login flex" ng-class="{'show':toggleV.Audio.login}">
			<div class="wp-pic"><img src="img/wp1.jpg"/></div>
			<div class="jiantou2" ng-click="audioS('login')">
				<div ng-show="!toggleV.Audio.login" class="login-word">
					登
				</div>
				<div ng-show="!toggleV.Audio.login" class="login-word">
					陆
				</div>
				<div ng-show="toggleV.Audio.login" class="login-icon">
					<i class="iconfont icon-iconfonthaofang26-copy-copy-copy"></i>
				</div>
			</div>
			<div class="username">
				<span>用户名：</span><input type="text" ng-model="user.name"/>
			</div>
			<div class="username">
				<span>通行证：</span><input type="password" ng-model="user.pass"/>
			</div>
			<div class="username">
				<button ng-click="login()">登陆</button>
			</div>
		</div>
		<script type="text/javascript" src="js/index.js"></script>
	</body>
</html>
